absl-py==1.0.0
aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.7.1
aiosignal==1.2.0
alabaster==0.7.12
alpaca-trade-api==1.4.0
alpha-vantage==2.3.1
altgraph==0.17.2
ansiwrap==0.8.4
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
ascii-magic==1.6
asgiref==3.5.0
astor==0.8.1
astroid==2.9.3
asttokens==2.0.5
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
backports.zoneinfo==0.2.1
backtrader==1.9.76.123
bandit==1.7.2
beartype==0.7.1
beautifulsoup4==4.10.0
black==21.7b0
bleach==4.1.0
boto3==1.21.21
botocore==1.24.21
bracex==2.2.1
bs4==0.0.1
bt==0.2.9
cachetools==5.0.0
cchardet==2.1.7
ccxt==1.70.9
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.11
clang==5.0
click==8.0.3
codespell==2.1.0
colorama==0.4.4
commonmark==0.9.1
convertdate==2.4.0
coverage==6.3
croniter==1.2.0
cryptography==36.0.1
cssselect==1.1.0
cvxpy==1.1.18
cycler==0.11.0
Cython==0.29.27
dateparser==1.1.0
DateTime==4.3
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
degiro-connector==2.0.15
deprecation==2.1.0
detecta==0.0.5
df2img==0.2.4
discord==1.7.3
discord-components==2.1.2
discord.py==1.7.3
disnake==2.4.0
distlib==0.3.4
dnspython==2.2.0
docker==5.0.3
docutils==0.16
ecos==2.0.10
elasticsearch==7.16.3
entrypoints==0.3
et-xmlfile==1.1.0
exchange-calendars==3.5.1
executing==0.8.2
fake-useragent==0.1.11
fastapi==0.73.0
fastquant==0.1.7.1
fear-greed-index==0.1.4
ffn==0.3.6
filelock==3.4.2
financedatabase==1.0.2
finnhub-python==2.4.10
finplot==1.8
finviz==1.4.3
finvizfinance==0.12.2
flake8==3.9.2
flatbuffers==2.0
fonttools==4.29.0
formulaic==0.2.4
fred==3.1
fredapi==0.4.3
frozendict==2.2.1
frozenlist==1.3.0
FundamentalAnalysis==0.2.12
future==0.18.2
gast==0.4.0
gensim==4.1.2
geographiclib==1.52
geopy==2.2.0
git-of-theseus==0.3.0
gitdb==4.0.9
GitPython==3.1.26
google-auth==2.5.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlesearch-python==1.0.1
googletransx==2.4.2
grpcio==1.43.0
h11==0.13.0
h5py==3.6.0
hijri-converter==2.2.2
holidays==0.11.3.1
html5lib==1.1
identify==2.4.6
idna==3.3
imageio==2.13.5
imagesize==1.3.0
importlib-metadata==4.10.1
inflection==0.5.1
iniconfig==1.1.1
interface-meta==1.2.4
investpy==1.0.8
ipykernel==6.7.0
ipympl==0.8.7
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso8601==0.1.16
isort==5.10.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-server==1.13.4
jupyterlab==3.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
kaleido==0.2.1
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.7.1
libclang==11.1.0
linearmodels==4.25
lxml==4.7.1
m2r2==0.2.8
macholib==1.16
Markdown==3.3.6
markdown-it-py==1.1.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mdit-py-plugins==0.2.8
mistune==0.8.4
mock==4.0.3
more-itertools==8.12.0
mplfinance==0.12.8b6
msgpack==1.0.2
multidict==6.0.2
multitasking==0.0.10
mypy==0.930
mypy-extensions==0.4.3
myst-parser==0.15.2
natsort==8.1.0
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
newsapi-python==0.2.6
nltk==3.6.7
nodeenv==1.6.0
notebook==6.4.8
numpy==1.21.2
oandapyV20==0.6.3
oauthlib==3.2.0
onetimepass==1.0.1
openpyxl==3.0.9
opt-einsum==3.3.0
orjson==3.6.4
osqp==0.6.2.post5
packaging==21.3
pandas==1.3.5
pandas-datareader==0.10.0
pandas-market-calendars==3.3
pandas-ta==0.3.14b0
pandocfilters==1.5.0
papermill==2.3.4
parse==1.19.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==2.4.1
plotly==5.5.0
pluggy==1.0.0
pmdarima==1.8.4
praw==7.5.0
prawcore==2.3.0
pre-commit==2.17.0
prettytable==2.4.0
prometheus-client==0.13.1
prompt-toolkit==3.0.26
property-cached==1.6.4
protobuf==3.19.4
psaw==0.0.12
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyally==1.1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycodestyle==2.7.0
pycoingecko==2.2.0
pycparser==2.21
pydantic==1.9.0
pydocstyle==6.1.1
pyee==8.2.2
pyEX==0.5.0
pyflakes==2.3.1
Pygments==2.11.2
pyhdfe==0.1.0
pyimgur==0.6.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pylint==2.12.2
pyluach==1.3.0
PyMeeus==0.5.11
pymongo==3.11.0
pyobjc-core==8.2
pyobjc-framework-Cocoa==8.2
pyotp==2.6.0
pyparsing==3.0.7
pyphoon==0.1
pyportfolioopt==1.5.1
pyppeteer==1.0.2
PyPrind==2.11.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.3
pyquery==1.4.3
pyrsistent==0.18.1
PySocks==1.7.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-recording==0.12.0
python-binance==1.0.15
python-coinmarketcap==0.2
python-dateutil==2.8.2
python-dotenv==0.19.2
python-socks==2.0.2
pytrends==4.7.3
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyupgrade==2.31.0
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
qdldl==0.1.5.post0
qtconsole==5.2.2
QtPy==2.0.0
Quandl==3.7.0
rapidfuzz==1.9.1
regex==2022.1.18
reportlab==3.6.6
requests==2.27.1
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
retrying==1.3.3
rich==10.16.2
robin-stocks==2.1.0
rsa==4.8
s3transfer==0.5.2
schedule==1.1.0
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
screeninfo==0.6.7
scs==3.1.0
seaborn==0.11.2
selenium==3.141.0
Send2Trash==1.8.0
sentiment-investor==2.1.0
sentipy==0.2.0
setuptools-scm==6.4.2
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
socketIO-client-nexus==0.7.6
soupsieve==2.3.1
Sphinx==4.1.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
squarify==0.4.3
sseclient==0.0.27
stack-data==0.1.4
starlette==0.17.1
statsmodels==0.12.2
stevedore==3.5.0
tabulate==0.8.9
temporal-cache==0.1.4
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
textwrap3==0.9.2
thepassiveinvestor==1.0.10
threadpoolctl==3.0.0
tifffile==2021.11.2
timeseries-cv==0.1.4
tokenize-rt==4.2.1
toml==0.10.2
tomli==1.2.3
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
trading-calendars==2.1.1
tradingview-ta==3.2.10
traitlets==5.1.1
tweepy==4.4.0
twint==2.1.20
types-python-dateutil==2.8.9
types-pytz==2021.3.4
types-PyYAML==6.0.3
types-requests==2.27.7
types-setuptools==57.4.8
types-tabulate==0.8.5
types-termcolor==1.1.2
types-urllib3==1.26.8
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
ujson==5.1.0
Unidecode==1.3.2
update-checker==0.18.0
urllib3==1.26.8
user-agent==0.1.10
uvicorn==0.17.4
vaderSentiment==3.3.2
valinvest==0.0.2
vcrpy==4.1.1
virtualenv==20.13.0
voila==0.3.1
w3lib==1.22.0
wcmatch==8.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==9.1
Werkzeug==2.0.2
what3words==3.1.1
widgetsnbextension==3.5.2
wrapt==1.13.3
yarl==1.7.2
yfinance==0.1.70
zipp==3.7.0
zope.interface==5.4.0
